:root {
  /* --colorR: 255,54,82; */
  /* --colorTopHover: rgba(var(--colorR),.5); */

  --colorTopHover: #f06e81;
  --colorLeftHover: #ffed75;
  --colorRightHover: #6297f0;

  --colorTopClick: #ff3652;
  --colorLeftClick: #ffd70d;
  --colorRightClick: #3b81ff;

  --colorTopMuted: #ff3652;
  --colorLeftMuted: #ffd70d;
  --colorRightMuted: #3b81ff;

  --colorTopUsed: #ff3652;
  --colorLeftUsed: #ffd70d;
  --colorRightUsed: #3b81ff;

  --colorTop: #915059;
  --colorLeft: #988F53;
  --colorRight: #4A6F91;
  --colorTopCW: #915059;
  --colorTopACW: #915059;
  --colorLeftCW: #988F53;
  --colorLeftACW: #988F53;
  --colorRightCW: #4A6F91;
  --colorRightACW: #4A6F91;
  --colorCenter: var(--colorPanelBG);
  --colorStrCenter: var(--colorPanelBG);

  --strLG: 10px;
  --strMD: 5px;

  --colorTopoutline: var(--colorPanelBG);
  --colorLeftoutline: var(--colorPanelBG);
  --colorRightoutline: var(--colorPanelBG);
  --colorToggle: #323232;

  --TopDivider: none;
  --LeftDivider: none;
  --RightDivider: none;

  --dimmed: rgba(0,0,0,.225);
  --selected: rgba(0,0,0,.5);
  --opacityLow: .5;
  --coreOpacity: 1;
  --cropOpacity: 1;
  --bumperOpacity: 0;
  --allOpacity: 1;
  --allScale: 1;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}



body {
  height: 250px;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.Toggle {
  margin-left: 40%;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: var(--colorToggle);
}

svg {
  transform-origin: center;
  transform: scale(var(--allScale));
  opacity: var(--allOpacity);
  transition: transform 120ms var(--quart) 20ms,
                opacity 100ms var(--quad)  50ms;
  /* min-width: 100px; */
  width: 150px;
  /* max-width: 180px; */
}

#TopGroup {
  transform-origin: top;
}

#LeftGroup {
  transform-origin: 0% 66%;
}

#RightGroup {
  transform-origin: 100% 66%;
}

#TopGroup, #LeftGroup, #RightGroup {
  cursor: pointer;
  pointer-events: none;
  transition: transform 120ms var(--quart) 20ms,
                opacity 100ms var(--quad)  50ms,
                  color 150ms var(--quart) 0ms;
}

[class*="Crop"] {
  pointer-events: stroke;
  stroke-linejoin: round;
  stroke-width: var(--strLG);
  opacity: var(--cropOpacity);
  fill: transparent;
  transition: opacity 130ms var(--quad) 20ms,
               stroke 130ms var(--quad) 20ms,
                 fill 130ms var(--quad) 20ms;
}

[class*="Flag"] {
  pointer-events: fill;
  stroke-width: 3px;
  transition: opacity 130ms var(--quad) 20ms,
               stroke 130ms var(--quad) 20ms,
                 fill 130ms var(--quad) 20ms;
}

[class*="Bumper"] {
  opacity: var(--bumperOpacity);
  transition: opacity 100ms var(--quad) 0ms;
}

[class*="Divider"] {
  stroke-linecap: round;
  stroke-width: var(--strMD);
  transition: stroke 120ms var(--quart) 20ms;
}

[id*="Group"]:hover > [class*="Bumper"] {
  /* opacity: 1; */
}

.TopBumper {
  fill: var(--colorR);
}

.LeftBumper {
  fill: var(--colorG);
}

.RightBumper {
  fill: var(--colorB);
}

[class*="TopFlag"]:hover {
  fill: var(--colorTopHover);
  stroke: var(--colorTopHover);
}

[class*="LeftFlag"]:hover {
  fill: var(--colorLeftHover);
  stroke: var(--colorLeftHover);
}

[class*="RightFlag"]:hover {
  fill: var(--colorRightHover);
  stroke: var(--colorRightHover);
}

[class*="TopFlag"]:active {
  fill: var(--colorTopClick);
  stroke: var(--colorTopClick);
}

[class*="LeftFlag"]:active {
  fill: var(--colorLeftClick);
  stroke: var(--colorLeftClick);
}

[class*="RightFlag"]:active {
  fill: var(--colorRightClick);
  stroke: var(--colorRightClick);
}

.TopFlagCW {
  fill: var(--colorTopCW);
  stroke: var(--colorTopCW);
}
.TopFlagACW {
  fill: var(--colorTopACW);
  stroke: var(--colorTopACW);
}

.LeftFlagCW {
  fill: var(--colorLeftCW);
  stroke: var(--colorLeftCW);
}
.LeftFlagACW {
  fill: var(--colorLeftACW);
  stroke: var(--colorLeftACW);
}

.RightFlagCW {
  fill: var(--colorRightCW);
  stroke: var(--colorRightCW);
}
.RightFlagACW {
  fill: var(--colorRightACW);
  stroke: var(--colorRightACW);
}

.TopCrop {
  stroke: var(--colorTopoutline);
}

.LeftCrop {
  stroke: var(--colorLeftoutline);
}

.RightCrop {
  stroke: var(--colorRightoutline);
}

.TopDivider {
  stroke: var(--TopDivider);
}

.LeftDivider {
  stroke: var(--LeftDivider);
}

.RightDivider {
  stroke: var(--RightDivider);
}

.Rect {
  fill: none;
}

.Core {
  fill: var(--colorCenter);
  stroke: var(--colorStrCenter);
  stroke-width: var(--strMD);
  transform-origin: center;
  cursor: pointer;
  opacity: var(--coreOpacity);
  transition: fill 100ms var(--quad)  20ms,
            stroke 100ms var(--quad)  20ms,
           opacity 120ms var(--quart) 20ms,
         transform 120ms var(--quart) 20ms;
}
